* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: calc(100% - 20px);
    padding: 10px;
}
body {
    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
    color: white;
}

a {
    color: lightblue;
}

/* chat page */

.chat {
    margin: 0 auto;

    display: flex;
    row-gap: 10px;
    flex-wrap: nowrap;
    align-items: stretch;
    padding: 10px;
    background: lightslategray;
    color: black;

    border: 1px solid black;
    flex-direction: column;
    min-height: 300px;
    max-width: 600px;
}

.chat-line {
    flex-grow: 1;
    flex-shrink: 0;
    border: 1px solid green;
    background: #ddd;
}

.chat-actions {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    column-gap: 10px;
}

#chat-input {
    flex-grow: 1;
    flex-shrink: 1;
    padding-left: 5px;
}

#chat-input:focus {
    outline: none;
}

#chat-send {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 24px;
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;

    background: #00c9ff;
    color: white;
    cursor: pointer;
}
#chat-send:hover {
    background-color: #00b3e3;
}
.chat-line, #chat-input, #chat-send {
    border-radius: 3px;
}

#chat-history {
    display: flex;
    flex-direction: column;

    padding: 5px 10px;
    overflow: auto;

    overflow-y: auto;
    max-height: 500px;
}

.mess {
    position: relative;
    border: 1px solid blue;
    background: lightblue;
    padding: 8px;
    width: 80%;
    border-radius: 17px;
}
.mess.me {
    float: right;
    background: #ffca68e6;
    border-color: red;
    align-self: flex-end;
}
.mess:nth-child(n + 2) {
    margin-top: 10px;
}
.mess>span{
    color: grey;
    font-size: 12px;
    position: absolute;
    bottom: 1px;
    right: 13px;
}

/* login page */

#loginform {
    margin: 0;
    padding: 0;
}
.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-row {
    width: auto;
    border: 1px solid white;
}
.flex-item {
    padding: 10px;
    line-height: 20px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    background: lightslategray;
}

ul#rooms_list {
    font-family: monospace;
    list-style: none;
    margin: 0;
    padding: 0;
}


/* actions */
.action_create {
    color: green;
}
.action_quit {
    color: yellow;
}
.action_remove {
    color: red;
}

.action_create, .action_quit, .action_remove {
    cursor: pointer;
    font-size: 16px;
}


/* invite */
#blockModal {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}

#blockModal > div {
    width: 400px;
    height: 300px;
    
    background-color: lightskyblue;
    -webkit-box-shadow: 0px 0px 18px 9px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 18px 9px rgba(0,0,0,1);
    box-shadow: 0px 0px 18px 9px rgba(0,0,0,1);
}
#modal {
    display: flex;
    flex-direction: column;
    position: relative;
}
#modal > div {
    flex-grow: 1;
}
#modal > input {
    flex-grow: 0;
    height: 30px;
}
#closeModal {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background-color: red;
    color: black;
    font-size: 24px;
    line-height: 19px;
}